<!-- <div  *ngFor="let item of rider1">
  <input value="{{item.select_status}}" type="checkbox" checked="item.select_status == 'true'">{{item.select_status}}
  </div> -->

  <!-- <table cellspacing="3" border="4px">
    <tr>
      <th>s.no</th>
      <th>name</th>
      <th>status</th>
    </tr>
    <tr *ngFor="let datas of rider2; let i = index">
      <td>{{i+1}}</td>
      <td>{{datas.name}}</td>
      <td><input type="checkbox" [checked]="datas.select_status">{{datas.select_status}}</td>
    </tr>
  </table>
  <br>
<table cellspacing="3" border="4px">
  <tr>
    <th>sno</th>
    <th>selected_students</th>
  </tr>
  <tr *ngFor="let stdnt of selectedusers; let i = index">
    <td>{{i + 1}}</td>
    <td style="text-align: center;">{{stdnt.name}}</td>
  </tr>
</table> -->


<p id="test">This is some <b>bold</b> text in a paragraph.</p>

 <button id="btn1">start jquery</button>
 <button id="btn2">start jquery2</button>
