<div class="container">
    <div class="jumbotron">
        <h3 class="text-center text-dark">CART</h3>
    </div>
</div>

<div class="container">
    <table class="table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>more</th>
        </tr>
        <tr *ngFor="let item of product; let i = index">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><button class="btn btn-primary" id={{item.name}} (click)="addtocart($event)">{{cta}}</button></td>
        </tr>
    </table>
</div>
<div class="container">
    <div class="jumbotron">
        <h2 class="text-center text-dark">Cart Items</h2>
        <hr>
    </div>
    <table class="table border-0">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>more</th>
            <th>quantity</th>
        </tr>
        <tr *ngFor="let item of addcart; let i = index">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price * item.quantity}}</td>
            <td><button class="btn btn-primary" (click)="removeItem(i)">remove</button></td>
            <td><button class="btn btn-success" id="{{item.name}}"
                    (click)="addquantity($event)">{{item.quantity}}</button> / <button *ngIf="item.quantity > 0"
                    class="btn btn-danger" id="{{item.name}}" (click)="reduceQuantity($event)">-</button> </td>

        </tr>
        <button class="btn btn-success" *ngIf="amount > 0">{{amount}}</button>
    </table>
    <button class="btn btn-primary" (click)="onsubmit()">checkout</button>
</div>