 <table cellspacing="3" border="4px">
        <tr>
          <th>s.no</th>
          <th>name</th>
          <th>status</th>
        </tr>
        <tr *ngFor="let datas of rider2; let i = index">
          <td>{{i+1}}</td>
          <td>{{datas.name}}</td>
          <td><input type="checkbox" [checked]="datas.select_status" statuchange()>{{datas.select_status}}</td>
        </tr>
      </table>
      <br>
    <table cellspacing="3" border="4px">
      <tr>
        <th>sno</th>
        <th>selected_students</th>
      </tr>
      <tr *ngFor="let stdnt of selectedusers; let i = index">
        <td>{{i + 1}}</td>
        <td style="text-align: center;">{{stdnt.name}}</td>
      </tr>
    </table>