<!-- <app-checkboxgotit></app-checkboxgotit> -->
<!-- <app-parent></app-parent> -->
<!-- <app-dicode></app-dicode> -->
<!-- <app-lazyload></app-lazyload> -->

<!-- <button routerLink="/customer-list">Customers</button>
  <button routerLink="/order-list">Orders</button> -->

<!-- <app-filter></app-filter> -->
<!-- <app-caluclator></app-caluclator> -->

<!-- <app-addtocart></app-addtocart> -->

<!-- <app-observablepipes></app-observablepipes> -->
<!-- <app-product-list></app-product-list> -->
<!-- <app-grooceery></app-grooceery> -->
<!-- <app-patchcomp></app-patchcomp> -->

<router-outlet>
  <div class="main" *ngIf="showLoader">
    <div class="content">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <app-loadertut></app-loadertut>
</router-outlet>