<!-- <app-checkboxgotit></app-checkboxgotit> -->
<!-- <app-parent></app-parent> -->
<!-- <app-dicode></app-dicode> -->
<!-- <app-lazyload></app-lazyload> -->

<!-- <button routerLink="/customer-list">Customers</button>
  <button routerLink="/order-list">Orders</button> -->

<!-- <app-filter></app-filter> -->
<!-- <app-caluclator></app-caluclator> -->

<app-addtocart></app-addtocart>

<!-- <app-observablepipes></app-observablepipes> -->
<!-- <app-product-list></app-product-list> -->
<!-- <app-grooceery></app-grooceery> -->
<!-- <app-patchcomp></app-patchcomp> -->
<!-- <app-loadertut></app-loadertut> -->
<!-- <app-rxjscompo></app-rxjscompo> -->
<!-- <app-ndetuto></app-ndetuto> -->
<router-outlet></router-outlet>