<!-- <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a [routerLink]="['/users', username]">Chris Profile</a></li>
      <li><a routerLink="/users', username">Nick Profile</a></li>
    </ul>
  </nav> -->
<div class="container">
  <div class="jumbotron">
    <h3>Activated routing params</h3>
  </div>
</div>
  <nav class="bg-dark">
    <ul *ngFor="let users of username">
      <li><a class="text-white" [routerLink]="['/users', users.name,users.role]">{{users.name}}</a></li>
    </ul>
  </nav>